*{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: white;
  background-color: rgb(163, 33, 33);
  margin-top: 10px;
  border-radius: 10px;
  border: transparent;
  padding: 8px;
}

ul{
  list-style: none;
  margin-bottom: 40px;
}

#newskill {
 border: 1px solid lime;
 padding: 10px;
 background-color: lime;
 color: white; 
 font-weight: bold;
}
